<div class="container">

  <h2 class="fw-bold mt-4"><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <h2>Reviews</h2>

  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>Rating: <%= review.rating %></li>
      <li>Content: <%= review.content %></li>
    <% end %>
  </ul>
  <%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>
  <%= link_to "Back to restaurants", restaurants_path %>

</div>
